
<section class="user-profile">

   {{user.email}}

</section>




{{#if user.meals.length}}
  <section class="user-meals">
    <h2>Your Meals</h2>
      <div class="meal-list">
        {{#each user.meals as |meal|}}

            {{> meal-info meal }}

        {{/each}}
      </div>
  </section>
{{/if}}




<script src="/javascript/select-meal.js"></script>

