<section class="hero">
  <div class="cta">
    <h2>Meal delivery for chronic health conditions</h2>
    <h3>Select Your Diets</h3>
      <form class="buttons">
            <button type="button" class="filter-button">
              <p>RENAL</p>
            </button>

            <button type="button" class="filter-button">
              <p>DIABETIC</p>
            </button>

            <button type="button" class="filter-button">
              <p>LOW FODMAP</p>
            </button>
      </form>
  </div>
</section>

<ul class="meal-list">
  {{#each meals as |meal|}}
    <li>
      {{> meal-info meal }}
    </li>
  {{/each}}
</ul>

<script src="/javascript/filter-meals.js"></script>