<section class="hero">

  <div class="cta">
    <div class="cta-title-text">
      <h2>Meal Delivery for Chronic Health Conditions</h2>
    </div>

    <div class="cta-form-label">
      <h3>Select Your Diets</h3>
    </div>

    <form class="buttons">
          <button type="button" class="filter-button" id="renal">RENAL</button>
          <button type="button" class="filter-button" id="diabetic">DIABETIC</button>
          <button type="button" class="filter-button" id="FODMAP">LOW FODMAP</button>
    </form>
  </div>
</section>

<section class="meal-list">
  {{#each meals as |meal|}}

      {{> meal-info meal }}

  {{/each}}
</section>

<section class="filtered-meals-title">

  <section class="filtered-list">

  </section>

</section>


<script src="/javascript/filter-meals.js"></script>