<section class="hero">
  <div class="cta">
    <h2>Meal delivery for chronic health conditions</h2>
    <h3>Select Your Diets</h3>
      <form class="buttons">
            <button type="button" class="filter-button" id="renal">RENAL</button>
            <button type="button" class="filter-button" id="diabetic">DIABETIC</button>
            <button type="button" class="filter-button" id="FODMAP">LOW FODMAP</button>
      </form>
  </div>
</section>

<main class="meal-list">
  {{#each meals as |meal|}}

      {{> meal-info meal }}

  {{/each}}
</main>

<section class="filtered_containers">

</section>

<script src="/javascript/filter-meals.js"></script>