<section class="login-form-container">

  <form class="login-form">
    <h3>Log in to Diet Delivery</h3>
    <div>
      <input type="text" id="email-login" placeholder="Enter email" />
    </div>
    <div>
      <input type="password" id="password-login" placeholder="Enter password" />
    </div>
    <div>
      <button type="submit">Log in</button>
    </div>
  </form>

<script src="/javascript/login.js"></script>