{{> meal-info meal }}
<img src="../public/images/meal-image-2.jpg">

{{#if loggedIn}}
<form>
  <div>
    <button type="button" class="upvote-btn">Select Meal</button>
  </div>
</form>
{{/if}}

{{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
  <script src="/javascript/upvote.js"></script>
{{/if}}