{{> meal-info meal }}
<img src="{{image}}" >
<img src="images/meal-image-2.jpg">

{{#if loggedIn}}
  <div>
    <button type="button" class="upvote-btn">Select Meal</button>
  </div>
</form>
{{/if}}

{{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
  <script src="/javascript/upvote.js"></script>
{{/if}}