<section class="login-form-container">
    <form class="user-profile-form">

            <label for="display-name">Display Name</label>
            <div>
                <input type="text" id="display-name" placeholder="{{format_display_name user.email}}"/>
            </div>

        <h3>Enter Your Name</h3>
            <div>
                <input type="text" id="first-name" placeholder="First Name" />
            </div>
            <div>
                <input type="text" id="last-name" placeholder="Last Name" />
            </div>

        <h3>Enter Your Address</h3>
            <div>
                <input type="text" id="address" placeholder="Address" />
            </div>
            <div>
                <input type="text" id="city" placeholder="City" />
            </div>
            <div>
                <input type="text" id="state" placeholder="State" />
            </div>
            <div>
                <input type="text" id="zip-code" placeholder="Zip Code" />
            </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </form>

</section>


<script src="/javascript/create-profile.js"></script>