:root {
    --header-logo-font: 'Fugaz One', cursive;
    --cta-font: 'Roboto Condensed', sans-serif;
}

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
    background: rgb(243,248,250);
    background: linear-gradient(98deg, rgba(243,248,250,1) 0%, rgba(220,224,226,1) 100%);
}

.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
}

/* HEADER STYLES */
.header {
    /* background-color: rgb(65, 64, 64); */
    background: rgb(3,30,31);
    background: radial-gradient(circle, rgba(3,30,31,1) 0%, rgba(27,117,124,1) 0%, rgba(23,98,107,1) 37%, rgba(12,44,50,1) 100%);
    box-shadow: 3px 3px 4px rgba(41, 40, 40, .7);
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .1% 5%;
}

.header-logo {
    font-family: 'Fugaz One', cursive;
    color: white;
    font-size:.85em;
    text-decoration: none;
    transition: color .9s;
}

.header nav a {
    font-size: 1.25rem;
    color: white;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    margin: 10px;
    transition: color .5s;
}

.header a:hover {
    color: #85f5e6;
}

.header nav a:hover {
    text-decoration: underline;
}

.user-icon, .logout-icon {
    color: white;
    padding-right: 5%;
}

.main-body {
    display: flex;
    flex-direction: column;
    /* flex: 1; */
}

.hero {
    background-image: url('/images/header-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    /* height: 80vh; */
    margin-top: 4%;
}

.cta {
    background-color: rgba(0,0,0,0.25);
    width: 100%;
    height: 80vh;
    color: white;
    display: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--cta-font);
    text-align: center;
}

.cta-title-text {
    font-size: 2rem;
    width: 30%;
    /* text-align: center; */
}

.cta-form-label {
    font-size: 1.7rem;
}

.cta form {
    width:100%;
}

.cta h2{
    margin-top: 0;

}

.buttons {
    display: flex;
    justify-content: center;
}

.filter-icon {
    color: white;
}

.filter-button {
    flex: .15 .15 0px;
    display: center;
    background: radial-gradient(circle, rgb(114, 128, 128) 0%, rgb(96, 116, 119) 45%, rgb(95, 119, 119) 100%);
    border: 0;
    padding: 2%;
    margin: .5%;
    color:rgb(253, 251, 251);
    font-family: 'Ubuntu', sans-serif;
    font-size: 130%;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 3px 10px rgba(0,0,0,0.9);
    outline: none;
    transition: box-shadow .2s ease-out, outline .2s ease-out;
}

.filter-button:hover {
    background: rgb(47,55,55);
    background: radial-gradient(circle, rgba(47,55,55,1) 0%, rgba(32,48,51,1) 45%, rgba(16,20,20,1) 100%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.filter-button:focus {
    background: radial-gradient(circle, rgba(47,55,55,1) 0%, rgba(32,48,51,1) 45%, rgba(16,20,20,1) 100%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    outline: 5px solid white;
}



button {
    background-color: #225ca3;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #3486eb;
}

/* MEAL CARDS */
.meal-list, .filtered-list {
    /* width:100vw; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 80px 40px;
}

.meal-card {
    display: grid;
    grid-template-columns:300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas:"image" "text" "diets";
    font-family: var(--cta-font);
    color: rgb(90, 89, 89);
    border-radius: 4%;
    background-color:white;
    text-align: left;
    margin: 1%;
    text-decoration: none;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    transform: scale(1);
    transition: box-shadow .2s, transform .2s;
}

.meal-card:hover {
    box-shadow: 4px 4px 15px rgba(0,0,0,0.6);
    transform: scale(1.02);
}

.meal-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.meal-card-text {
    grid-area: text;
    padding: 0px 20px;
}

.meal-card-diets {
    grid-area: diets;
    padding: 0px 20px;
}

/* LOGIN FORM STYLES */
.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width:250px; */
    margin-top: 100px;
    flex-direction: column;
}

.login-form, .signup-form {
    background-color: rgb(253, 253, 253);
    padding: 20px;
    border-radius: 3px;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.2);
    min-width: 30vw;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    align-items: center;
}

.login-form h3, .signup-form h3 {
    font-size: 1.4rem;
    font-family: var(--cta-font);
}

.login-form > div, .signup-form > div {
    padding: 10px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-items: stretch;
}

.login-form input, .signup-form input {
    color: rgb(219, 219, 219);
    font-size: 1.06rem;
    border: 2px solid rgb(219, 219, 219);
    padding: 15px;
    border-radius: 3px;
    min-width: 20rem;
}

.login-form button, .signup-form button {
    font-size: 1.06rem;
    font-family: 'Ubuntu', sans-serif;
    padding: 15px;
    /* background: rgb(64,222,169); */
    background: linear-gradient(343deg, rgba(64,222,169,1) 0%, rgba(51,187,142,1) 100%);
    min-width: 20rem;
    transform: scale(1);
    transition: background-image 1s, transform .5s;

}

.login-form button:hover, .signup-form button:hover {
    /* background: rgb(62,189,146); */
    background: linear-gradient(343deg, rgba(62,189,146,1) 0%, rgba(29,112,85,1) 100%);
    transform: scale(1.1);
}

input:focus {
    outline: none;
    border: 3px solid #3486eb;
}

form label {
    display: block;
}


/* SINGLE MEAL PAGE STYLES */
.single-meal-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content:space-between;
}

.single-meal-image {
    background-color: rgb(248, 238, 193);
    padding: 20px;
}

.single-meal-details {
    background-color: rgb(127, 127, 219);
    padding: 20px;
}



.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
}

.btn-no-style:hover {
    background: none;
    color: #3486eb;
}


.upvote-btn {
    background-color: #197d0f;
    transition: background-color .1s;
}

.upvote-btn:hover {
    background-color: #1f9c13;
}

footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
}

.hide {
    display: none;
}

.hidden {
    visibility: hidden;
}

.food-image {
    height: 400px;
    width: 500px;
    object-fit: cover;

}